<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="primero">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h4 class="m-b-20">Usuarios</h4>
                    <h2 class="text-right"><i class="fa fa-users f-left"></i><span> +</span></h2>
                    <p class="m-b-0">Usuarios registrados<span class="f-right">0</span></p>
                </div>
            </div>
        </div>
        
        <div class="segundo">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h4 class="m-b-20">libros</h4>
                    <h2 class="text-right"><i class="fa fa-book f-left"></i><span> +</span></h2>
                    <p class="m-b-0">Registros de libros<span class="f-right">0</span></p>
                </div>
            </div>
        </div>

        <div class="tercero">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h4 class="m-b-20">Prestamos</h4>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span> +</span></h2>
                    <p class="m-b-0">Registro de prestamos<span class="f-right">0</span></p>
                </div>
            </div>
        </div>        

        <div class="cuarto">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h4 class="m-b-20">Visitas</h4>
                    <h2 class="text-right"><i class="fa fa-eye f-left"></i><span> +</span></h2>
                    <p class="m-b-0">Accesos totales<span class="f-right">0</span></p>
                </div>
            </div>
        </div>
	</div>
</div>
