/* Structure */
/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-form-field {
  font-size: 1rem;
  width: 98%;
  margin: 0 auto;
  display: block;
  margin-top: 1rem;
}

img{
  width: 15%;
  border-radius: 6px;
}