
.container .card img{
    width: 330px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
    color: black;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}